@use '../variables/colors'
.option-card
  background-color: colors.$off-black
  border-radius: 10px
  width: 100%
  padding: 1rem

  &__list__message
    color: white
    margin: 1rem
    text-align: center